<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
  <main>
  {{ content | safe }}
  </main>
  <footer>Datte generated & deployed: {{ deploymentDate }}</footer>
  <script async defer src="https://scripts.withcabin.com/hello.js"></script>
</body>
</html>