:root {
  --idx0: #000000;
  --idx1: #222034;
  --idx2: #45283c;
  --idx3: #663931;
  --idx4: #8f563b;
  --idx5: #df7126;
  --idx6: #d9a066;
  --idx7: #eec39a;
  --idx8: #fbf236;
  --idx9: #99e550;
  --idx10: #6abe30;
  --idx11: #37946e;
  --idx12: #4b692f;
  --idx13: #524b24;
  --idx14: #323c39;
  --idx15: #3f3f74;
  --idx16: #306082;
  --idx17: #5b6ee1;
  --idx18: #639bff;
  --idx19: #5fcde4;
  --idx20: #cbdbfc;
  --idx21: #ffffff;
  --idx22: #9badb7;
  --idx23: #323c39;
  --idx24: #847e87;
  --idx25: #696a6a;
  --idx26: #76428a;
  --idx27: #ac3232;
  --idx28: #d95763;
  --idx29: #d77bba;
  --idx30: #8f974a;
  --idx31: #8a6f30;
}
